<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="jumbotron col-md-offset-3 col-md-6 text-center">
          
            <h2>Welcome to <%= title %> Page</h2>
            <small>By: Shreyas Singh</small>
            <br>
            <small>Date: 28/10/2022</small>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


